/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------- */

body {
    background: #e2e1e0;
}

a {
    text-decoration: none;
    opacity: .6;
}

a:hover {
    opacity: .9;
}

.App {
    margin-top: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.Search__field {    
    border: 0;
    width: 30%;
    padding: 10px 20px;    
    box-shadow: 0px 3px 5px rgba(75, 72, 72, 0.1);
    background: white;
    border-radius: 3px;
    transition: all 0.4s ease;
}

.Search__field:focus {
    outline: none;
    box-shadow: 0px 5px 7px rgba(75, 72, 72, 0.3);
}

.Card {
    position: relative;
    padding: 10px;
    background-color: #fff;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
}

.Card > h1 {
    margin-bottom: 5px;
}

.Card > h2 {
    margin-bottom: 3px;
    font-size: .8rem;
    color: #616161;
}

.Card__dismiss {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: .95em;
    opacity: .8;
}

.Card > span {
    font-size: .8em;
    color: #9E9E9E;
}